{% extends 'layout.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        Select file to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if files %}
        <ul>
            {% for file in files%}
                <li>
                    {{ file }}
                    <a href="{{ file.rsplit('.', 1)[0] }}">View Text Stats</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}